:root {
  --avatar-size: 100px;
  /* change this value anything, e.g., 100px, 10rem, etc. */
}

body {
  background-image:
    linear-gradient(45deg, #ccc 25%, transparent 25%), 
    linear-gradient(135deg, #ccc 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #ccc 75%),
    linear-gradient(135deg, transparent 75%, #ccc 75%);
  background-size: 100px 100px; /* Must be a square */
  background-position:0 0, 50px 0, 50px -50px, 0px 50px; /* Must be half of one side of the square */
}

html {
  overflow-y: scroll;
}

.inline-block {
  display: inline-block;
}

.inline {
  display: inline;
}

ul {
  list-style-type: none;
}

.mb {
  margin-bottom: 5px;
}

.mb2 {
  margin-bottom: 10px;
}

input[type='color'] {
  vertical-align: middle;
}

.big-input {
  font-size: 16px;
}

.ml {
  margin-left: 5px;
}

.mt {
  margin-top: 5px;
}

.mr {
  margin-right: 5px;
}

.mt2 {
  margin-top: 10px;
}

.limited-table {
  table-layout:fixed;
}

.center {
  text-align: center;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.main-content-desktop {
  max-width: 75%;
  padding: 10px 10px 30px 10px;
  box-shadow: 0 0 15px #0007;
  border-radius: 15px;
}

.numeric-stepper-wrapper {
  display: inline-block;
}

.main-content-mobile {
  max-width: 95%;
  box-shadow: 0 0 15px #0007;
  border-radius: 15px;
  padding: 10px 10px 30px 10px;
}

.m-0-auto {
  margin: 0 auto;
}

.m-0-auto-mb2 {
  margin: 0 auto 10px;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.bg-white {
  background-color: white;
}

.bg-grey {
  background-color: #ddd;
}

.progress-bar {
  position: sticky;
  z-index: 1000;
  top: 50%;
  left: 12%;
  min-width: 75%;
  max-width: 75%;
  height: 20px;
  background-color: rgb(175, 213, 244);
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
}

.progress-bar-value {
  width: 100%;
  height: 100%;
  background-color: rgb(139, 213, 139);
  animation: indeterminateAnimation 1.5s infinite linear;
  transform-origin: 0% 50%;
  position: absolute;
  z-index: 1;
}

.progress-bar-text {
  width: 100%;
  height: 100%;
  left: 0px;
  position: absolute;
  z-index: 2;
}

@keyframes indeterminateAnimation {
  0% {
    transform:  translateX(0) scaleX(0);
  }
  50% {
    transform:  translateX(0) scaleX(0.5);
  }
  100% {
    transform:  translateX(100%) scaleX(0.5);
  }
}

.ocr {
  text-align: center;
  font-style: italic;
}

.main {
  margin: 10px;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
  font-family: Verdana
}

.max-width-100 {
  max-width: 100%;
}

.max-width-50 {
  max-width: 50%;
}

.max-width-45 {
  max-width: 45%;
}

.img-full {
  margin: 0 auto;
}

.confirm-start-over {
  margin: 0 auto;
  margin-top: 10px;
}

.textarea-desktop {
  display: block;
  margin: 0 auto;
  margin-top: 5px;
  width: 50%;
  font-size: 16px;
}

.textarea-mobile {
  display: block;
  margin: 0 auto;
  margin-top: 5px;
  width: 95%;
  font-size: 16px;
}

h1 {
  background-color: transparent;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-1 {
  flex: 1;
}

.img-show {
  margin: 0 auto;
  display: block;
}

.block {
  display: block;
}

.black {
  color: black;
}

.blue {
  color: blue;
}

.red {
  color: red;
}

.green {
  color: green;
}

.no-padding {
  padding: 0px;
}

.purple {
  color: purple;
}

.orange {
  color: orange;
}

.brown {
  color: brown;
}

.grey {
  color: grey;
}

.bg-orange {
  background-color: orange;
}

.bg-yellow {
  background-color: yellow;
}

.bg-red {
  background-color: red;
}

.bg-red-off {
  background-color: rgb(84, 6, 1 );
}

.bg-green {
  background-color: green;
}

.bg-green-off {
  background-color: rgb(0, 56, 20)
}

.pl {
  padding-left: 5px;
}